<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
<title>Menu</title>
<link rel="stylesheet" type="text/css" href="styleC.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <input type="checkbox" id="chk">
    <label for="chk" class="menu-icon">&#9776;</label>
    <div class="header text-center">
     <h2>Nome da Fazenda</h2>
     </div>

    <div class="bg"></div>
    <nav class="menu" id="principal">
      <ul>
        <li><div class="voltar"><i class=" fa fa-user" aria-hidden="true" ></i> Nome do User</div></li>
        <li><a href=""  class="menu-btn"><i class="fa fa-chevron-left" aria-hidden="true" ></i> Voltar</a></li>
        <li><a href="homeC.html" class="menu-btn"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="#" class="menu-btn"><i class="fa fa-plus" aria-hidden="true"></i> Registrar Coleta</a></li>
        <li><a href="#" class="menu-btn"><i class="fa fa-clipboard" aria-hidden="true"></i> Gerenciar Propriedades</a></li>
        <li><a href="#" class="menu-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
      </ul>
      </nav>
<form class="form-horizontal">
<fieldset>
<!-- Form Name 
<legend>Form Name</legend>-->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>


</fieldset>
</form>

</body>
</html>
