* {
	margin: 0;
	padding: 0;
}

.body {
	margin-top: 80px;
	margin-left: 300px;
	margin-right: 30px;
}

header {
	width: 100%;
	height: 8%;
	top: 0;
	left: 0;
	background-color: #2B78E4;
	position: fixed;
	z-index: 995;
}

.menu-icon {
	position: fixed;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: #2B78E4;
	color: #fff;
	cursor: pointer;
	transition: all .4s;
	left: 300px;
	top: 0;
	z-index: 996;
}

.menu-icon:hover {
	background-color: #2B78E4;
	color: #fff;
}

#chk {
	display: none;
}

.menu {
	height: 100%;
	position: fixed;
	background-color: #222;
	top: 0;
	overflow: hidden;
	transition: all .2s;
	z-index: 999;
}

.fa {
	background-color: #000;
}

.fa:hover {
	background-color: #2B78E4;
}

#principal {
	width: 300px;
	left: -300px;
}

ul {
	list-style: none;
}

ul li a {
	display: block;
	font-size: 18px;
	font-family: sans-serif;
	padding: 10px;
	border-bottom: solid 2px #000;
	color: #ccc;
	text-decoration: none;
	transition: all .2s;
}

ul li span {
	float: right;
	padding-right: 10px;
}

ul li a:hover {
	color: #2B78E4;
	text-decoration: none;
}

.voltar {
	margin-top: 5%;
	background-color: #222;
	text-align: center;
	color: white;
	font-size: 1.5em;
	padding-bottom: 6%;
}

.menu-btn {
	background-color: #111;
	border-left: solid 5px #444;
}

.bg {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	display: none;
	z-index: 998;
}

#chk:checked ~.bg {
	display: block;
}

#chk:checked ~ #principal {
	transform: translateX(300px);
}